.h-100{
    height: 100vh !important;
}
.color-green{
    color: rgb(54, 238, 30);
    font-size: 20px;
    font-weight: bold;
}
.color-white{
    color: white;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fc{
    flex-direction: column !important;
}
.gray{
    text-align: justify !important;
    color: gray;
    font-size: 15px;
    width: 80%;
    margin: 10px 0;
}
.w-100{
    width: 100% !important;
}
.f-25{
    font-size: 25px;
    margin-bottom: 0 !important;
}